
#header{
    background:lavender;
    margin-top: 5px;
    z-index: 1;
    padding: 0;
}
.spinner{
 position: absolute;
 left: 45%;
 z-index:1;
 top: 50%;
}
.shrch-frome{
    margin: auto;
    width: 70%;
}

.main h2{
    padding: 20px 0;
    font-style: italic;
    margin-bottom: 0;
    background: lightcyan;
}
#phones-container{
    background: lightcyan;
    padding-bottom: 50px;
}
#phones{
    margin: auto;
    width: 68%;
}
.card-text{
    display: flex;
    align-items: center;
}
.smal-text{
    font-size: 13px;
    color: #6a6a6a;
    margin-bottom:5px;
}
.smal-header{
    font-size: 13px;
    color: #6a6a6a;
}
.card-body h5{
    margin-bottom: 15px;
}
.text-left{
    padding-right: 10px;
    border-right: 1px solid #beb1b1;
}
.text-right{
    padding-left: 8px;
}
.text-right h5{
    font-size: 14px;
    font-weight: bolder;
}
.price{
    padding: 20px 0;
}
.card img{
    padding: 10px 0;
    border-bottom: 1.5px solid #ddd8d8;
    margin: auto;
    height: 60%;
    width: 60%;
}
.ditals-text{
   display: flex;
}
#ditels{
    position: relative;
    background: lightcyan;
    margin: auto;
    padding-top: 10px;
    transition: 1s;
    z-index: 2;
}
#ditels img{
    width: 100%;
}
.all-configer{
    display: flex;
    max-width: 1060px;
    background: white;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.configer-container{
    flex-basis: 70%;
    margin-right: 10px;
}
.configer:nth-child(odd){
    background: #F8F8F8;
}
.configer{
    max-width:100%;
    padding-right: 8px;
    margin: auto;
    padding: 8px 16px;
}
.configer-title h6{
   font-size: 13.8px;
   font-weight: 700;
   padding: 0;
   margin: 0;
   width: 30%;
   max-width: 192px;
   min-width: 120px;
}
.configer-text p{
   font-size: 13.8px;
   color: #3a3939;
   padding: 0;
   margin: 0;
}
/* responsiv codding */
@media screen and (max-width:670px) {
    .shrch-frome{
        margin: auto;
        width: 100%;
    }
    #phones{
        width: 100%;
    }
    .ditals-text{
        display: block;
    }
    .all-configer{
        display: block;
    }
    #ditels{
       right: 0%;
    }
}